<% title 'Sharing FTP Servers' %>

  <div id="item_list">
    <%= render :partial => 'ftpserver_list' %>
  </div>

  <div id="side_bar">
      <h2> I have FTP Server to share: </h2>
    <div id="share_form">
      <%= render :partial => 'form' %>
    </div>

  </div>

  <div id="footer"/>


